.idea/
.DS_Store
log/
/data
*.swp
*.swo
coverage/
plato/
.grapplehound.json
*.suo
*.csproj.user
bin
obj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
Thumbs.db
.eprj
.idea
*node_modules
*npm-debug*
report/
bower/
public/css
public/js
public/*.html
public/images
server/log
_spec-tmp
karma-index.js
client/js/clientConfig.js
config.json
dump.rdb
.gulp-lint-cache
.gulp-format-cache
/themes
/packages
.shortlog
.vscode
.nyc_output
